* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    background-color: #222;
    color: #fff;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px;
    position: relative;
    z-index: 2;
}

header {
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

header img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

header h1 {
    font-size: 2rem;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    color: #fff;
}

article {
    margin-bottom: 40px;
}

h1, h2 {
    color: #fff;
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}
